@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Roboto:wght@400;500;900&display=swap');
@media screen { 
  html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  
}