@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Roboto:wght@400;500;900&display=swap');
@media screen { 
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    background: #1E1E1E;
    color: aliceblue;
  }

  .register-page {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .left-half {
    height: 100vh;
    display: flex;
    width: 50vw;
    flex-direction: column;
    text-align: center;
    flex: 1;;
    background-image: url('./resources/landingimage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
  }
  .right-half {
    width: 50vw;
    align-items: center;
    text-align: center;
    flex: 1;
    background-color: red;
  }

  .landingimage{
    width: 100%;
    height: auto;
    
  }

  .imgheader {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 108.69%;
    /* or 30px */

    letter-spacing: 0.02em;

    color: #FFFFFF;
    display: flex;
    height: 2.5rem;
    text-align: center;
    align-items: center;
    margin-left: 2rem;
    margin-top: 3rem;
  }

  .imgfooter {
    margin-left: 2rem;
    width: 35rem;
    text-align: left;
    position: absolute;
    top: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 2.7rem;
    line-height: 141.69%;
    letter-spacing: 0.02em;

    color: #FFFFFF;
  }
}