@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Roboto:wght@400;500;900&display=swap');
@media screen { 
  html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  body {
    background: #1E1E1E;
    color: aliceblue;
  }

  .register-page {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .left-half {
    height: 100vh;
    display: flex;
    width: 50vw;
    flex-direction: column;
    text-align: center;
    flex: 1;;
    background-image: url('../resources/landingimage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
  }
  

  .landingimage{
    width: 100%;
    height: auto;
    
  }

  .imgheader {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 108.69%;
    /* or 30px */

    letter-spacing: 0.02em;

    color: #FFFFFF;
    display: flex;
    height: 2.5rem;
    text-align: center;
    align-items: center;
    margin-left: 2rem;
    margin-top: 3rem;
  }

  .imgfooter {
    margin-left: 2rem;
    width: 35rem;
    text-align: left;
    position: absolute;
    top: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 2.7rem;
    line-height: 141.69%;
    letter-spacing: 0.02em;

    color: #FFFFFF;
  }

  .loginBtn {
    background: #72DB73;
    border-radius: 2rem;
    border: none;
    height: 2rem;
    width: 7rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 108.69%;
    margin-left: 1rem;
    letter-spacing: 0.02em;

    color: #FFFFFF;

  }






  /* THE FORM STUFF BEGINS HERE */

  .right-half {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    background-color: #000000;
  }
  .formInput {
    display: flex;
    flex-direction: column;
    width: 27rem;
    font-family: 'DM Sans';
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 139.69%;
    
    letter-spacing: 0.02em;
    
    color: #7C7C7C;
    
  }
  input {
    text-align: left;
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 15.5rem;
    margin: 10px 0px;
    background-color: #292929;
    color: #7C7C7C;
    border: none;
    border-radius: .25rem;
  }
  
  input[type="text"], textarea {

    background-color : #292929; 
  
  }
  .text-under-logo {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 139.69%;
    color: #FFFFFF;     
    padding-top: 0.8rem;
    padding-bottom: 1rem;
  }
  .loginMethod {
    display: flex;
    flex-direction: row;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 139.69%;
    padding-bottom: 1rem;
    color: #FFFFFF;
  }

  .pipe {
    font-size: 25px;
    color: #72DB73;
    padding-left: 10px;
    padding-right: 10px;
  }

  .signupBtn {
    margin-top: .7rem;
    background: #72DB73;
    color: white;
    border-radius: 1.75rem;
    border: none;
    width: 27rem;
    height: 2.6rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 108.69%;
    letter-spacing: 0.08em;
    /* margin-left: 5rem; */
  }

  .logo {
    width: 10rem;
  }

  .TnC {
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    
    /* padding-right: 20%; */
  }

  .tncText {
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: .7rem;
    line-height: 141.69%;
    
    /* margin-left: 5rem; */
    letter-spacing: 0.02em;

    color: #7C7C7C;
  }
  span {
    color: #72DB73;
  }

  .checkbox-label {
    margin-left: 20px;
  }

  .errorMessage {
    color: red;
    font-size: 0.8rem;
    display: none;
    
  }


  input:invalid[focused="true"] {
    border: 1px solid red;
  }
  input:invalid[focused="true"] ~ .errorMessage {
    display: block;
  }
}

